# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Platform-specific
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/
windows/flutter/
web/.firebase/

# Secrets and environment
env.json
*.env
key.properties

# Misc
*.log
*.tmp
*.swp
.DS_Store
nul
